@import '../../styles/vars';

.layout {
  width: 100%;
  height: 100%;
  background: $gradient;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 350px;
    transition: all 0.2s ease;
    animation: rot 2s infinite linear;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
